<html>

<head> <title> Customers </title> 
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>

{% if customers %}
    <ul>
    {% for customer in customers %}
        <li><a href = "{%url 'rating:update_customer' pk=customer.pk %}" > {{customer}} {{customer.email}} {{customer.rating}} {{customer.contacted}}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No customers are available.</p>
{% endif %}

<a href="{% url 'rating:new_customer' %}"> New customer </a>

</html>